{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block extracss %}
<style>
body{
    background-color:#e9ecef;
}
</style>
{% endblock %}
{% block content %}
{% include "admin_header.html" %}
<div class="d-flex  p-5 justify-content-center">
<form method="post" >
    {% csrf_token %}
    <div class="row">
      <div class="col-12">
    {{ form |crispy}}
      </div></div>
      <div class="pt-4">
    <button class="btn btn-primary" type="submit">Save changes</button>
      </div>
  </form>
</div>

  {% endblock %}